[Unit]
Description=LTE-GW 
Requires=network.target multi-user.target 
After=network.target multi-user.target

[Service]
Type=forking
ExecStart=/usr/lib/eGW/startAll.sh
ExecStop=/usr/lib/eGW/stopAll.sh

[Install]
WantedBy=multi-user.target
